.nav1{
    background-color:  #DAF7A6 ;
    
}

.btn{
    
}


a{
    color: black;
}
button{
    color: white;
}
.btn{
    color: white;
}


.navbar{
    border-bottom: 2px solid red;
}

.contCarrousel{
    display: flex;
    
    justify-content: center;
    
}
.piePagina{
    background-color:blue;
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 5;
    
    display: flex;
    justify-content:flex-end;
    
    
}
